@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@400;500;700&family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@400;500;700&family=Open+Sans&family=Source+Sans+Pro:ital,wght@1,200&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:wght@400;500;700&family=Open+Sans&family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap');






.formulario-inscripcion{
    background-color: rgb(255, 255, 223);
}

.cabecera{
    text-align: center;
    
}
.barra{
    width: 100%;
    background-color: greenyellow;
    padding-left: 100px;
}
.cuerpo1{
    text-align: center;
}

.espacio1{
    padding: 25px;
    background-color: bisque;
    height: 25px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 4px;
}

.texto{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}

.texto1{
    font-family: 'Lato', sans-serif;
    color: black;
}

.espacio{
    background-color: bisque;
    height: 25px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px 4px;
}

